.clocks {
    width:150px;
    height:150px;
    background:black;
    color:white;
    border-radius:50%;
    border: 2px solid blue;
    position:relative;
    margin:0 auto;
}

.clocks .number {
    --rotation:0;
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    transform: rotate(var(--rotation));
}

.clocks .number1 {--rotation:30deg;}
.clocks .number2 {--rotation:60deg;}
.clocks .number3 {--rotation:90deg;}
.clocks .number4 {--rotation:120deg;}
.clocks .number5{--rotation:150deg;}
.clocks .number6 {--rotation:180deg;}
.clocks .number7 {--rotation:210deg;}
.clocks .number8 {--rotation:240deg;}
.clocks .number9 {--rotation:270deg;}
.clocks .number10 {--rotation:300deg;}
.clocks .number11 {--rotation:330deg;}



.clocks .hand {
    --rotation:0;
    position:absolute;
    bottom:50%;
    left:50%;
    border: 1px solid blue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
    transform-origin:bottom;
    background-color:white;
    transform:translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clocks::after {
    content:"";
    position:absolute;
    background-color:white;
    z-index: 11;
    width:15px;
    height:15px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 50%;
}
.clocks .hand.seconds {
    width:2px;
    height:40%;
    background-color:red;
}


.clocks .hand.minutes{
    width:7px;
    height:40%;
    background-color:white;
}


.clocks .hand.hours {
    width:10px;
    height:35%;
    background-color:white;
}