@font-face {
    font-family: clockFont;
    src: url(digital-7.ttf);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {

    
    background-image: url(image/nasa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;









}



.container {


    width: 300px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  





}

#new-york, #tokyo-jap, #shanghai-china, #sydney-Aus, #berlin-ger, #los-angeles, #saudi-arabia, #oslo-norway, #new-zeal, #ottawa-can{
    color:rgb(245, 235, 235);
    font-family:clockFont;
    font-size:2vw;
    
    
   
}


.newyork, .tokyojap, .shanghai, .Sydney, .berlin, .losangeles, .Saudi, .Oslo, .newZealand, .ottawa  {
    color:rgb(245, 235, 235);
    font-family:Arial,san-serif;
    font-size:3vw;
  
}

 .tokyojap-container, .shanghai-container, .sydney-container,.newzealand-container{
    margin:20px 0 0 4px;
    font-weight:bold;
   
  
   


    

}



.time-container {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    text-align:center;
   
    
}

#new-york-date, #tokyo-date, #shanghai-date, #sydney-date, #newzeal-date, #berlin-date, #La-date, #Saudi-date, #Oslo-date, #Ottawa-date{
    color:rgb(245, 235, 235);
    font-size:2vw;
    font-family:Arial, sans-serif;
}



.newyork-container {
    position:absolute;
    left:0;
    top:2%;
    font-weight:bold;
    text-shadow: 0 0 4px #DB9B59;
    padding: 5px 5px 5px 5px;
    background:rgba(0, 0, 0, 0.4);
    border-radius:5px;
 
 
   
   

    
}

.berlin-container {
    position:absolute;
    right:0%;
    top:2%;
    font-weight:bold;
    text-shadow: 0 0 4px #DB9B59;
    padding:5px 5px 5px 5px;
    background:rgba(0, 0, 0, 0.4);
    border-radius:5px;
 


   
}
    

.los-container, .saudi-container, .oslo-container, .ottawa-container  {
    margin:20px 4px 0 0px;
    font-weight:bold;
}


.main-container {
   display:flex;
   justify-content: flex-end;
   align-items: flex-end;
   text-align:center;

}


.title-container {
    display:flex;
    justify-content:center;
    align-items:center;
}



.clock {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
   



}




.clock span {
    font-size: 55px;
    width:110px;
    color:rgb(245, 235, 235);
    letter-spacing: 5px;
    font-family: clockFont;
    font-weight: bold;
    transition: .5s;
    text-shadow: 0 0 4px #DB9B59;
    position:relative;
    text-align:center;
    margin-top:10px;

    

    
   



}

.clock span::after {
   
    font-size: 12px;
    position:absolute;
    bottom: -28px;
    left:50%;
    transform:translateX(-50%);
}

#hrs::after {
    content:"HOURS";
    font-family:Orbitron;
    letter-spacing:0;

    
}

#mnts::after {
    content:"MINS";
    font-family:Orbitron;
    letter-spacing:0;
}

#scnds::after {
    content:"SEC";
    font-family:Orbitron;
    letter-spacing:0;
}



.clock span:hover {
    color: #f0d5b9;
    cursor: pointer;


}





#manila-date {
    color:rgb(245, 235, 235);
    font-family:Arial,sans-serif;
    font-size:20px;
    font-weight:bold;
    text-shadow: 0 0 4px #DB9B59 ;
    letter-spacing:2px;
  
}



#weekday {
    font-size:20px;
    font-family:Arial, sans-serif;
    font-weight:bold;
    

}


#am-pm {
    font-size:20px;
}



.container3 {
    position:absolute;
    top:102%;
    left:50%;
    transform: translate(-50%, -50%);
    

}



.clocks {
    width:130px;
    height:130px;
    background-color:rgba(0, 0,0, .3);
    color:rgb(245, 235, 235);
    border-radius:50%;
    font-family: Arial,sans-serif;
    font-weight:bold;
    position:relative;
    margin: 10px auto 0 auto;
    text-shadow: 0 0 4px #DB9B59;
    border: 3px solid white;
    box-shadow: 0 0 4px #DB9B59;
    
}


.clocks .number {
    --rotation:0;
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    transform: rotate(var(--rotation));

}


.clocks .number1 {--rotation:30deg;}
.clocks .number2 {--rotation:60deg;}
.clocks .number3 {--rotation:90deg;}
.clocks .number4 {--rotation:120deg;}
.clocks .number5{--rotation:150deg;}
.clocks .number6 {--rotation:180deg;}
.clocks .number7 {--rotation:210deg;}
.clocks .number8 {--rotation:240deg;}
.clocks .number9 {--rotation:270deg;}
.clocks .number10 {--rotation:300deg;}
.clocks .number11 {--rotation:330deg;}



.clocks .hand {
    --rotation:0;
    position:absolute;
    bottom:50%;
    left:50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
    transform-origin:bottom;
    color:rgb(245, 235, 235);
    transform:translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clocks::after {
    content:"";
    position:absolute;
    background-color:white;
    border:2px solid black;
    z-index: 11;
    width:15px;
    height:15px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius: 50%;
}
.clocks .hand.second {
    width:2px;
    height:40%;
    background-color:red;
    
}


.clocks .hand.minute{
    width:7px;
    height:40%;
    background-color:white;
    border:2px solid black;
 
}


.clocks .hand.hour {
    width:8px;
    height:35%;
    background-color:white;
    border:2px solid black;
  
}

#weather {
    color:white;
    font-size:12px;
    padding:20px;
    height:100px;
    background:rgba(85, 84, 84, 0.1);
    border-radius:5px;  
}

.weather-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    font-weight:bold;
    font-family:Arial,sans-serif;
    margin-top:10px;
    text-shadow: 0 0 4px #DB9B59 ;

    

}

