@font-face {
    font-family: clockFont;
    src: url(digital-7.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    
    background-image: url(image/nasa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;






}







.container {


    width: 400px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);





}

.clock {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;



}



.clock span {
    font-size:50px;
    width: 45px;
    display: inline-block;
    text-align: center;
    position: relative;
    color: white;
    letter-spacing: 5px;
    margin-right: 8px;
    font-family: clockFont;
    text-shadow: 0 0 4px #DB9B59;
    font-weight:bold;


}








.title {
    color: #0077b6;
    font-size: 8vw;
    font-family: Orbitron;
    font-weight:400;
    letter-spacing: 5px;
    white-space: nowrap;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    font-weight: bold;
    text-shadow: 0 0 8px black;





}


#month,
#date,
#year {
    color: #0077b6;
    font-size: 30px;
    font-family: clockFont;
    font-weight: bold;
    text-shadow: 0 0 4px black;
    margin-right: 8px;



}

#month {
    margin-left: 15px;

}

#year {
    margin-left: 15px;
}

.container3 {

    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container2 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);



}

#day {

    font-size: 30px;
    color: #0077b6;
    text-shadow: 0 0 10px black;
    font-weight:800;
    letter-spacing: 10px;
    font-family: Orbitron;
   



}

.date-month-year {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
  
    


}



#am-pm {
    margin-left: 10px;
}



.logo {
    width:60px;
    margin: 5px 0 0 20px;
}





